

.sm_txt{
	font-weight: bolder;
	font-size: 11px;
}

.rm_item{
	color: red;
}

.add_item{
	color: green;
}

.rm_item,.add_item{
	cursor: pointer;
	font-weight: bold;
	font-size: 11px;
}

.app_sect table{
	border: 0px;
}

.app_sect table td{
	border: 1px solid #EAECEE;
	border-spacing: 0px;
	padding: 5px;
	vertical-align: middle;	
}


.check-boxes label {
    display: block;
    float: left;
    white-space: nowrap;
}
.check-boxes input {
    vertical-align: middle;
}
.check-boxes label span {
    vertical-align: middle;
    padding-right: 3px;
}

.info-sect{
	font-size: 13px;
	line-height: 25px;
}

.hdg-sm{
	font-size: 14px;
	color: #848484;
	font-weight: bold;
	line-height: 25px;
}

#hi-lite-sect{
	font-size: 15px;
	padding-top:20px;
	padding-bottom:20px;
	color: #641E16;
	text-align: center;
}

.ty_input{
	width: 75px;
}

.sm_input{
	width: 150px;
}

.input-sect{
	float: right;
	margin-right: 15%;
}

.live_drpdwn{
	min-width: 379px;
	max-height: 300px;
	border: 1px solid  #D2B9D3;
	background-color: #DDE1EC;
	position: absolute;
	border-radius: 2px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    width: 100px;
    padding-left:5px;
    overflow-y:auto;
}

.input_md{
	min-width: 350px;
}

.print-container{
	width: 1000px;
	margin-left: 50px;
	min-height: 1400px;
}

.print-header{
	text-transform: uppercase;
	font-size: 16px;
	text-align: center;
}

.print-header-moh{
	font-weight: bolder;
}

.print-ttl{
	font-weight: bolder;
	text-transform: uppercase;
	/*background-color: #D8D8D8;*/
	padding: 5px;
	font-size: 16px;
	width: 100%;
	margin-top: 10px;
}

.print-sect{
	font-size: 14px;
	padding: 5px;
	border: 2px solid #E8E8E8;
	min-height: 75px;
}

.print-sect>table{
	min-width: 60%;
}

.print-sect table td{
	padding: 4px;
}


.print-val{
	text-decoration: underline;
}

.print-check,.print-uncheck{
	font-size: 20px;
}


page {
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  padding: 5px;
}
page[size="A4"] {  
  width: 21cm;
  height: 29.7cm; 
}
page[size="A4"][layout="portrait"] {
  width: 29.7cm;
  height: 21cm;  
}

.printmm-container{
	width: 20cm;
}